.pageholdpic-1 {
    font-family: 'Lora', serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://plus.unsplash.com/premium_photo-1661930056117-ac74ba06716a?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container-1 {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 100%;
    opacity: 0.9;
    max-width: 350px;
    text-align: center;
    border: 2px solid #e0e0e0;
}

h1 {
    color: #2c3e50;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 25px;
    letter-spacing: 1px;
}

.form-group-1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 15px;
    color: #34495e;
    text-align: left;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-size: 12px;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #27ae60;
    box-shadow: 0 0 5px rgba(39, 174, 96, 0.5);
}

input[type="submit"] {
    margin-top: 15px;
    background-color: rgba(114, 89, 85, 0.9);;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}
input[type="submit"]:hover {
    background-color: rgba(86, 62, 59, 0.9); /* Darker shade with transparency */
    transform: scale(1.05); /* Slight scaling effect on hover */
}

.footer-1 {
    margin-top: 20px;
    font-size: 14px;
}

.footer-1 a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-1 a:hover {
    color: #1c5980;
    text-decoration: underline;
}

.error {
    color: #e74c3c;
    margin-top: 10px;
    font-size: 14px;
}
